@model ContactManager.Models.HomeIndexModel

<h3>Main Menu</h3>

<p>There are @Model.Count contacts in the repository.</p>

<ul>
    <li><a href='@Url.Action("Create", "Contact")'>Create contact</a></li>
</ul>