<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="container">
        <div class="well">
            <h1>View layout</h1>
        </div>

        <div>
            @RenderBody()
        </div>

    </div>

   
</body>
</html>
